<div class='container'>
  <h1 class="font-bold text-4xl pb-6"><%= Scheme.model_name.human count: 2 %></h1>

  <table class="min-w-full table-auto">
    <thead class="text-xl text-gray-700 bg-gray-200">
      <tr>
        <th scope="col" class="px-4 py-0"><%= Scheme.human_attribute_name("rule") %></th>
        <th scope="col" class="px-6 py-0"><%= Scheme.human_attribute_name("assoc") %></th>
        <th scope="col" class="px-6 py-0"><%= Scheme.human_attribute_name("sample") %></th>
      </tr>
    </thead>
    <tbody>
      <% @schemes.each do |scheme| %>
        <tr class="text-xl bg-blue-100 text-center even:bg-blue-50 odd:bg-green-50">
          <td class="px-6 py-4"><%= scheme.rule %></td>
          <td class="px-6 py-4"><%= scheme.assoc %></td>
          <td class="px-6 py-4"><%= scheme.sample %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
