<div class='container'>
  <h1 class="mb-4 font-bold text-4xl pb-3"><%= PossessivePronoun.model_name.human count: 2 %></h1>

  <h2 class="mb-3 font-bold text-3xl text-blue-500 pb-3"><%= PossessivePronoun.human_enum_name(:kind, :as_article) %></h1>
  <%= render '/shared/table', resource: 'as_article' %>

  <h2 class="mt-6 mb-3 font-bold text-3xl text-blue-500 pb-3"><%= PossessivePronoun.human_enum_name(:kind, :as_noun) %></h1>
  <%= render '/shared/table', resource: 'as_noun' %>
</div>
