<nav class='flex sticky top-0 h-16 p-4 text-center justify-between bg-slate-200'>
  <div class='flex items-center'>
    <div class='p-2'>
      <%= link_to t('home'), root_path, class: 'flex' %>
    </div>

    <div class='p-2'>
      <div data-controller="dropdown" class="relative">
        <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class='flex items-center'>
          <%= t 'parts_of_speech' %>
          <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>

        <div
          data-dropdown-target="menu"
          class="hidden transition transform origin-top-right absolute left-0 mt-0 right-0 w-64 bg-red-100"
          data-transition-enter-from="opacity-0 scale-95"
          data-transition-enter-to="opacity-100 scale-100"
          data-transition-leave-from="opacity-100 scale-100"
          data-transition-leave-to="opacity-0 scale-95"
        >
          <%= link_to t(Article.model_name.human(count: 2)), articles_path, :'data-action' => 'dropdown#toggle', class: 'flex hover:bg-sky-200' %>
          <%= link_to t(Case.model_name.human(count: 2)), cases_path, :'data-action' => 'dropdown#toggle', class: 'flex hover:bg-sky-200' %>
          <%= link_to t(Gender.model_name.human(count: 2)), genders_path, :'data-action' => 'dropdown#toggle', class: 'flex hover:bg-sky-200' %>
          <%= link_to t(Number.model_name.human(count: 2)), numbers_path, :'data-action' => 'dropdown#toggle', class: 'flex hover:bg-sky-200' %>
          <%= link_to t(PersonalPronoun.model_name.human(count: 2)), personal_pronouns_path, :'data-action' => 'dropdown#toggle', class: 'flex hover:bg-sky-200' %>
          <%= link_to t(PossessivePronoun.model_name.human(count: 2)), possessive_pronouns_path, :'data-action' => 'dropdown#toggle', class: 'flex hover:bg-sky-200' %>
        </div>
      </div>
    </div>
  </div>
  
  <div class='flex items-center'>
    <div class='p-2'>
      <div data-controller="dropdown" class="relative">
        <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class='flex items-center'>
          <%= t(locale, scope: 'locales') %>
          <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>

        <div
          data-dropdown-target="menu"
          class="hidden transition transform origin-top-right absolute right-0"
          data-transition-enter-from="opacity-0 scale-95"
          data-transition-enter-to="opacity-100 scale-100"
          data-transition-leave-from="opacity-100 scale-100"
          data-transition-leave-to="opacity-0 scale-95"
        >
          <ul class='bg-white px-4'>
            <% I18n. available_locales.each do |locale| %>
              <li>
                <% if I18n.locale != locale %>
                  <%= link_to t(locale, scope: 'locales'), url_for(locale: locale), :class => 'hover:bg-sky-200' %>
                <% end %>
              </li>
            <% end %> 
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>