<div class="relative w-screen">
  <h1 class="mb-4 font-bold text-4xl pb-3"><%= PersonalPronoun.model_name.human count: 2 %></h1>

  <table class="min-w-full table-auto border border-collapse border-slate-500">
    <thead class="text-xl text-gray-700 bg-gray-200">
      <tr>
        <th rowspan=2 scope="col" class="px-6 py-0 border border-slate-400"><%= Case.model_name.human %></th>
        <th colspan=5 scope="col" class="px-6 py-0 border border-slate-400"><%= Number.find_by(en: 'singular').attributes[I18n.locale.to_s] %></th>
        <th colspan=4 scope="col" class="px-6 py-0 border border-slate-400"><%= Number.find_by(en: 'plural').attributes[I18n.locale.to_s] %></th>
      </tr>
      <tr>
        <th scope="col" class="px-6 py-0 border border-slate-400"><%= Person.find_by(en: '1st person').attributes[I18n.locale.to_s] %></th>
        <th scope="col" class="px-6 py-0 border border-slate-400"><%= Person.find_by(en: '2nd person').attributes[I18n.locale.to_s] %></th>
        <th scope="col" class="px-6 py-0 border border-slate-400"><%= Person.find_by(en: '3rd person').attributes[I18n.locale.to_s] %></th>
        <th scope="col" class="px-6 py-0 border border-slate-400"><%= Person.find_by(en: '3rd person').attributes[I18n.locale.to_s] %></th>
        <th scope="col" class="px-6 py-0 border border-slate-400"><%= Person.find_by(en: '3rd person').attributes[I18n.locale.to_s] %></th>
        <th scope="col" class="px-6 py-0 border border-slate-400"><%= Person.find_by(en: '1st person').attributes[I18n.locale.to_s] %></th>
        <th scope="col" class="px-6 py-0 border border-slate-400"><%= Person.find_by(en: '2nd person').attributes[I18n.locale.to_s] %></th>
        <th scope="col" class="px-6 py-0 border border-slate-400"><%= Person.find_by(en: '3rd person').attributes[I18n.locale.to_s] %></th>
        <th scope="col" class="px-6 py-0 border border-slate-400 border border-slate-400"><%= Number.find_by(en: 'polite').attributes[I18n.locale.to_s] %></th>
      </tr>
    </thead>
    <tbody>
      <% @cases.each do |kasus| %>
            <tr class="text-xl text-center even:bg-blue-50 odd:bg-green-50">
              <td class="px-6 py-6">
                <%= kasus.abbr_de %></br>
              </td>
              <td>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'singular'), person: Person.find_by(en: '1st person'), gender: Gender.find_by(en: 'any')).de %></br>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'singular'), person: Person.find_by(en: '1st person'), gender: Gender.find_by(en: 'any')).ru %>
              </td>
              <td>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'singular'), person: Person.find_by(en: '2nd person'), gender: Gender.find_by(en: 'any')).de %></br>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'singular'), person: Person.find_by(en: '2nd person'), gender: Gender.find_by(en: 'any')).ru %>
              </td>
              <td>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'singular'), person: Person.find_by(en: '3rd person'), gender: Gender.find_by(en: 'masculine')).de %></br>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'singular'), person: Person.find_by(en: '3rd person'), gender: Gender.find_by(en: 'masculine')).ru %>
              </td>
              <td>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'singular'), person: Person.find_by(en: '3rd person'), gender: Gender.find_by(en: 'feminine')).de %></br>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'singular'), person: Person.find_by(en: '3rd person'), gender: Gender.find_by(en: 'feminine')).ru %>
              </td>
              <td>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'singular'), person: Person.find_by(en: '3rd person'), gender: Gender.find_by(en: 'neuter')).de %></br>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'singular'), person: Person.find_by(en: '3rd person'), gender: Gender.find_by(en: 'neuter')).ru %>
              </td>
              <td>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'plural'),   person: Person.find_by(en: '1st person'), gender: Gender.find_by(en: 'any')).de %></br>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'plural'),   person: Person.find_by(en: '1st person'), gender: Gender.find_by(en: 'any')).ru %>
                </td>
              <td>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'plural'),   person: Person.find_by(en: '2nd person'), gender: Gender.find_by(en: 'any')).de %></br>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'plural'),   person: Person.find_by(en: '2nd person'), gender: Gender.find_by(en: 'any')).ru %>
                </td>
              <td>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'plural'),   person: Person.find_by(en: '3rd person'), gender: Gender.find_by(en: 'any')).de %></br>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'plural'),   person: Person.find_by(en: '3rd person'), gender: Gender.find_by(en: 'any')).ru %>
              </td>
              <td>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'polite'),   person: Person.find_by(en: '2nd person'), gender: Gender.find_by(en: 'any')).de %></br>
                <%= @personal_pronouns.find_by(case: kasus, number: Number.find_by(en: 'polite'),   person: Person.find_by(en: '2nd person'), gender: Gender.find_by(en: 'any')).ru %>
                </td>
            </tr>
      <% end %>
    </tbody>
  </table>
</div>
