<%= form_with(model: verb, class: "contents") do |form| %>
  <% if verb.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(verb.errors.count, "error") %> prohibited this verb from being saved:</h2>
      <ul>
        <% verb.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :part_of_speech %>
    <%= form.collection_select(:part_of_speech_id, @parts_of_speech, :id, :de, include_blank: false) %> 
  </div>

  <div class="my-5">
    <%= form.label :stem_vowel %>
    <%= form.collection_select(:stem_vowel_id, @stem_vowels, :id, :scheme, include_blank: false) %>
  </div>

  <div class="my-5">
    <%#= form.label :infinitive %>
    <%= form.text_field :infinitive, placeholder: @verb.class.human_attribute_name('infinitive'),
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%#= form.label :present %>
    <%= form.text_field :present, placeholder: @verb.class.human_attribute_name('present'),
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%#= form.label :past %>
    <%= form.text_field :past, placeholder: @verb.class.human_attribute_name('past'),
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%#= form.label :participle %>
    <%= form.text_field :participle, placeholder: @verb.class.human_attribute_name('participle'),
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%#= form.label :trascription %>
    <%= form.text_field :trascription, placeholder: @verb.class.human_attribute_name('trascription'),
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%#= form.label :ru %>
    <%= form.text_field :ru, placeholder: @verb.class.human_attribute_name('ru'),
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%#= form.label :en %>
    <%= form.text_field :en, placeholder: @verb.class.human_attribute_name('en'),
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.label :form %>
    <%= form.select :form, 
          options_for_select(Verb.forms.map {|key, value| [Verb.human_enum_name(:form, key), Verb.forms.key(value)]}, @verb.form),
          class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.label :auxiliary %>
    <%= form.select :auxiliary, 
          options_for_select(Verb.auxiliaries.map {|key, value| [key.titleize, Verb.auxiliaries.key(value)]}, @verb.auxiliary),
          class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    %>

  </div>

  <div class="my-5">
    <%= form.label :prefix %>
    <%= form.select :prefix,
          options_for_select(Verb.prefixes.map {|key, value| [Verb.human_enum_name(:prefix, key), Verb.prefixes.key(value)]}, @verb.prefix),
          class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
