<div id="<%= dom_id verb %>">

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{PartOfSpeech.model_name.human(count: 1)}:" %></div>
    <strong><%= verb.part_of_speech[locale] %></strong>
  </div>

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{StemVowel.model_name.human(count: 1)}:" %></div>
    <strong><%= verb.stem_vowel.scheme %></strong>
  </div>

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{verb.class.human_attribute_name('infinitive')}:" %></div>
    <strong><%= verb.infinitive %></strong>
  </div>

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{verb.class.human_attribute_name('present')}:" %></div>
    <strong><%= verb.present %></strong>
  </div>

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{verb.class.human_attribute_name('past')}:" %></div>
    <strong><%= verb.past %></strong>
  </div>

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{verb.class.human_attribute_name('participle')}:" %></div>
    <strong><%= verb.participle %></strong>
  </div>

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{verb.class.human_attribute_name('trascription')}:" %></div>
    <strong><%= verb.trascription %></strong>
  </div>

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{verb.class.human_attribute_name('ru')}:" %></div>
    <strong><%= verb.ru %></strong>
  </div>

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{verb.class.human_attribute_name('en')}:" %></div>
    <strong><%= verb.en %></strong>
  </div>

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{verb.class.human_attribute_name('form')}:" %></div>
    <strong  class="col-span-2"><%= "#{verb.class.human_enum_name(:form, verb.form)}" %></strong>
  </div>

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{verb.class.human_attribute_name('auxiliary')}:" %></div>
    <strong class="col-span-2"><%= verb.auxiliary %></strong>
  </div>

  <div class="grid grid-cols-4 gap-4 my-2">
    <div class="col-span-2"><%= "#{verb.class.human_attribute_name('prefix')}:" %></div>
    <strong><%= "#{verb.class.human_enum_name(:prefix, verb.prefix)}" %></strong>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this verb", verb, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this verb", edit_verb_path(verb), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
