<div class='container'>
  <h1 class="font-bold text-4xl pb-6"><%= Gender.model_name.human count: 2 %></h1>

  <table class="min-w-full table-auto">
    <thead class="text-xl text-gray-700 bg-gray-200">
      <tr>
        <th scope="col" class="px-4 py-0"><%= Gender.human_attribute_name("de") %></th>
        <th scope="col" class="px-6 py-0"><%= Gender.human_attribute_name("en") %></th>
        <th scope="col" class="px-6 py-0"><%= Gender.human_attribute_name("ru") %></th>
        <th scope="col" class="px-6 py-0"><%= Gender.human_attribute_name("abbr_de") %></th>
        <th scope="col" class="px-6 py-0"><%= Gender.human_attribute_name("abbr_en") %></th>
        <th scope="col" class="px-6 py-0"><%= Gender.human_attribute_name("abbr_ru") %></th>
      </tr>
    </thead>
    <tbody>
      <% @genders.each do |gender| %>
        <tr class="text-xl bg-blue-100 text-center">
          <td class="px-6 py-4"><%= gender.de %></td>
          <td class="px-6 py-4"><%= gender.en %></td>
          <td class="px-6 py-4"><%= gender.ru %></td>
          <td class="px-6 py-4"><%= gender.abbr_de %></td>
          <td class="px-6 py-4"><%= gender.abbr_en %></td>
          <td class="px-6 py-4"><%= gender.abbr_ru %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
